@font-face {
    font-family: 'Coders Crux';
    src: url('fonts/Coders-Crux.woff2') format('woff2'),
        url('fonts/Coders-Crux.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'pixelpoiiz';
    src: url('fonts/pixelpoiiz.woff2') format('woff2'),
        url('fonts/pixelpoiiz.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: block;
}

@font-face {
    font-family: 'SD Auto Pilot';
    src: url('fonts/SD-Auto-Pilot.woff2') format('woff2'),
        url('fonts/SD-Auto-Pilot.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

