* {
	box-sizing: border-box;
}

:root {
	--game-width: 896px;
	--game-height: 576px;
	--inventory-width: 200px;

	--accent: #692A03;
}

body {
	color: var(--black);
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Micro 5';
	font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
	font-family: 'Jacquard 12';
}

button {
	font-family: inherit;
	text-transform: uppercase;
	font-size: inherit;
	margin: 10px auto;
	background: var(--mid-accent);
	border-radius: 1px;
	padding: 3px 6px;
	display: block;
	cursor: pointer;
	transition: 50ms ease;
}

button:hover, button:focus {
	margin: 12px auto 8px;
	background: var(--bright-accent);
}

#game-wrapper {
	display: flex;
	position: relative;
	width: calc(var(--game-width) + var(--inventory-width) );
}

/********************** Game UI *********************/

/*** Instructional Overlay ***/

#tutorial {
	position: absolute;
	top: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	left: 0;
	width: var(--game-width);
	height: var(--game-height);
	background: white;
	z-index: 1000;
	text-align: center;
	transition: 200ms ease-out;
	padding: 20px;
}

/*** Inventory ***/

#inventory {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: var(--game-height);
	width: var(--inventory-width);
	background: red;
	margin: 0;
	padding: 20px;
	background: beige;
	border: 2px solid var(--light-accent);
	transition: 200ms ease;
	position: absolute;
   right: 0;
   z-index: 1001;
}

#inventory.open {
	 width: 100%;
}

#inventory li {
	list-style: none;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100px;
	display: none;
	min-width: 60px;
	border: 2px solid var(--accent);
   padding: 10px;
   border-radius: 4px;
}

#inventory li span {
	min-height: 60px;
	min-width: 100%;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

#inventory li.collected {
	display: flex;
	align-items: center;
	justify-content: center;
}

#inventory h3 {
	font-size: 2.4em;
	margin: 10px;
	width: 100%;
	text-align: center;
}

#inventory .description {
	display: none;
}

#inventory.open .description {
	 display: block;
}

/********************** Dialogue Pop-Up *********************/

.dialogue-popup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	z-index: 999;
}

.dialogue-wrap {
	display: flex;
	margin: calc(50% - 70px) auto auto;
	align-items: center;
}

#speech-bubble {
	width: 550px;
	height: 170px;
	background: white;
	padding: 20px;
	border: 2px solid black;
	position: relative;
	margin: 10px;
}

.dialogue-popup.item-text {
	flex-direction: column;
}

.dialogue-popup.item-text #speech-bubble {
	width: 670px;
}

#speech-bubble h3 {
	margin: 0;
}

#dialogue-arrow {
	position: absolute;
	margin: 5px 10px;
	right: 0;
	bottom: 0;
	animation: bounce 1s infinite 500ms;
	cursor: pointer;
}

@keyframes bounce { 
	0% { transform: translateY(0);}
	25% { transform: translateY(-5px);}
	50% { transform: translateY(0);}
}

#talk-sprite {
	height: 170px;
	width: 120px;
	background:red;
	background-position: center;
}

#item-display {
	width: 300px;
	left: calc(50% - 150px);
	top: 60px;
	display: none;
	position: absolute;
}

.dialogue-popup.item-text #item-display {
	display: block;
}

.dialogue-popup.item-text #talk-sprite {
	display: none;
}

#Alsike-talking.dialogue-popup #talk-sprite {
	background-image: url(charactersprites/alsiketalk.gif);
}

/********************** Game Container *********************/

#game-container {
	background-image: url(background11.png);
	background-size: cover;
	background-position: top left;
	max-height: 100%;
	max-width: 100%;
	height: var(--game-height);
	width: var(--game-width);
	position: relative;
	overflow:hidden;
	border: 2px solid var(--light-accent);
	aspect-ratio: 896 / 576;
   flex: 0 0 auto;
}

#screen-display {
	display: flex;
	padding: 10px 20px;
	text-transform: capitalize;
	background: beige;
	width: fit-content;
	z-index: 1000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.9;
	border-bottom-right-radius: 4px;
}

#game-container > div {
	display: none;
}

#game-container > div#test-character {
	display: flex;
}

#game-container.Oddly-Shaded-Woods.initial-screen > div.Oddly-Shaded-Woods.initial-screen,
#game-container.Oddly-Shaded-Woods.left-1 > div.Oddly-Shaded-Woods.left-1,
#game-container.Oddly-Shaded-Woods.left-2 > div.Oddly-Shaded-Woods.left-2,
#game-container.Oddly-Shaded-Woods.right-1 > div.Oddly-Shaded-Woods.right-1,
#game-container.Oddly-Shaded-Woods.right-2 > div.Oddly-Shaded-Woods.right-2, 
#game-container.Oddly-Shaded-Woods.down-1 > div.Oddly-Shaded-Woods.down-1 {
	display: flex;
}

/*** Level 1 ***/
	

/** screen 4 **/
#game-container.Oddly-Shaded-Woods.up-1 {
	background-image: url(background4.png);
}

/** screen 5 **/
#game-container.Oddly-Shaded-Woods.right-1.up-1 {
	background-image: url(background5.png);
}

/** screen 6 **/
#game-container.Oddly-Shaded-Woods.right-2.up-1 {
	background-image: url(background6.png);
}

/** screen 7 **/
#game-container.Oddly-Shaded-Woods.right-3.up-1 {
	background-image: url(background7.png);
}

/** screen 8 **/
#game-container.Oddly-Shaded-Woods.left-3 {
	background-image: url(background8.png);
}

/** screen 9 **/
#game-container.Oddly-Shaded-Woods.left-2 {
	background-image: url(background9.png);
}

/** screen 10 **/
#game-container.Oddly-Shaded-Woods.left-1 {
	background-image: url(background10.png);
}

/** screen 11  || INTITIAL SCREEN **/
#game-container.Oddly-Shaded-Woods { 
	background-image: url(background11.png);
}

/** screen 12 **/
#game-container.Oddly-Shaded-Woods.right-1 {
	background-image: url(background12.png);
}

/** screen 13 **/
#game-container.Oddly-Shaded-Woods.right-2 {
	background-image: url(background13.png);
}

/** screen 14 **/
#game-container.Oddly-Shaded-Woods.right-3 {
	background-image: url(background14.png);
}

/** screen 15 **/
#game-container.Oddly-Shaded-Woods.left-3.down-1 {
	background-image: url(background15.png);
}

/** screen 16 **/
#game-container.Oddly-Shaded-Woods.left-2.down-1 {
	background-image: url(background16.png);
}

/** screen 17 **/
#game-container.Oddly-Shaded-Woods.left-1.down-1 {
	background-image: url(background17.png);
}

/** screen 18 **/
#game-container.Oddly-Shaded-Woods.down-1 {
	background-image: url(background18.png);
}

/** screen 19 **/
#game-container.Oddly-Shaded-Woods.right-1.down-1 {
	background-image: url(background19.png);
}

/** screen 20 **/
#game-container.Oddly-Shaded-Woods.right-2.down-1 {
	background-image: url(background20.png);
}

/** screen 21 **/
#game-container.Oddly-Shaded-Woods.right-3.down-1 {
	background-image: url(background21.png);
}

/********************** /Game Container *********************/

/************************* Character ************************/

#test-character {
	height: 88px;
	width: 88px;
	position: absolute;
	left: 0;
	top: 0;
	transition:  100ms ease, transform 400ms ease ;
	margin: 0 6px;
}

#test-character:after {
	height: 88px;
	width: 128px;
	content:"";
	position: absolute;
	left: 0;
	bottom: 0;
	background-position: left center;
	background-image: url(charactersprites/standleft.png);
	background-repeat: no-repeat;
	background-size: contain;
}

#test-character.moving:after {
	background-image: url(charactersprites/walkleft.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#test-character.moving.sprint:after {
	background-image: url(charactersprites/lopeleft.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#test-character.face-right {
	transform: scaleX(-1);
}

.npc {
	height: 100px;
	width: 100px;
	position: absolute;
}

#Alsike {
	background-image: url(charactersprites/alsikepix.png);
}

/************* Obstacles, Decorations, & Objectives *************/

/** General **/

.test-decoration, .obstacle, .objective {
	display: flex;
	align-items: center;
	justify-content: center;
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
}

@keyframes wiggle {
   0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/**** Obstacles ****/

.obstacle {
	height: 108px;
	width: 108px;
	background: black;

	margin: -16px 0 0;
}

/** water **/
.water {
	 margin: 0;
	 position: absolute;
	 background-image: url(water.gif);
    left: 0;
    top: 0;
    background-size: 64px;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 57%, 8% 49%, 16% 44%, 25% 38.5%, 37% 37%, 45% 37%, 50% 36%, 55% 35%, 61% 35%, 68% 32.5%, 71% 33%, 74% 33%, 83% 36%, 90% 40%, 98% 45%, 100% 45.5%, 100% 100%, 0% 100%);
}

/** fence style; obstacles with a solid base but open top/bottom have the fence class **/
.obstacle.fence {
	background-color: transparent;
	height: 48px;
	margin-top: 64px;
}

/** flip each odd number tree, for variation **/
.deadtree:nth-child(odd), .talltrunk:nth-child(odd)  {
	transform: scaleX(-1);
}

/** default fence **/
.obstacle.fence div {
	background-size: contain;
	background-image: url(obstacles/fence.png);
	height: 108px;
	width: 100%;
	position: absolute;
	bottom: 24px;
}

/** vertical fence **/
.obstacle.fencevertical {
	background-color: transparent;
	height: 108px;
	width: 32px;
	position: absolute;
}

.obstacle.fencevertical div {
	height: calc(100% + 92px);
	width: 32px;
	background-image: url(obstacles/fencevertical.png);
	background-position: 16px 0;
	background-repeat: repeat-y;
	background-size: 10px auto;
	position: absolute;
	top: -36px;
}

/** tall trunk **/
.obstacle.fence.talltrunk {
	width: 154px;
}

.obstacle.fence.talltrunk div {
	background-size: contain;
	background-image: url(obstacles/talltrunk.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 600px;
	width: 100%;
	position: absolute;
}

/** dead tree **/
.obstacle.fence.deadtree {
	width: 32px;
}

.obstacle.fence.deadtree div {
	background-size: contain;
	background-image: url(obstacles/deadtree.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 154px;
	width: 156px;
	position: absolute;
}

/** hollow tree **/
.obstacle.fence.hollowtree {
	width: 96px;
}

.obstacle.fence.hollowtree div {
	background-size: contain;
	background-image: url(obstacles/hollowtree.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 152px;
	width: 138px;
	position: absolute;
	bottom: 8px;
   left: -25px;
}

.obstacle.small {
	height: 32px;
	width: 32px;
}

/**** Decorations ****/

.test-decoration {
	height: 108px;
	width: 108px;
	background: red;

	margin: -16px 0 0;
}

/**Church Top (this has a smaller base, to change when it fades**/

.churchtop {
	width: 456px;
	height: 780px;
	position: absolute;
	left: 572px;
   top: -560px;
   z-index: 237;
   position: absolute;
   transition: 400ms ease;
}

.churchtop div {
	width: 476px;
	height: 880px;
	background-size: contain;
	background-image: url(obstacles/churchtop.png);
	background-position: bottom center;
	background-repeat: no-repeat;
	position: absolute;
   left: -14px;
}

/** Objectives **/

.objective {
	height: 32px;
	width: 32px;
	border: 10px solid transparent;
	box-sizing: content-box;
	animation: wiggle 500ms infinite;
}

.objective.collected {
	position: unset;
	display: none;
}

#CandyApple, #CandyAppleInventory span {
	background-image: url(https://cdn-icons-png.flaticon.com/512/8530/8530388.png);
}
